*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}
.container{
    display: flex;
     justify-content: center;
    align-items: center;
}

.container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(1px);
    
}

body{
    margin-top: 40px;
    min-height: 100vh;
    background: url("icons/montagne.jpg") no-repeat;
    background-size: cover;
    min-height: 100vh;
    
}

.container-header .logo{
    width: 40px;
    margin-left: 40px;
}

.container-header .logo:hover{
    transform: scale(1.2);
    transition: .8s ease;
    
}

nav a {
    position: relative;
    font-size: 1.1em;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    padding: 6px 20px;
    margin-right: 30px;
    transition: .8s;

}

nav a:hover {
    color:aqua;
    
}

nav a span {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    z-index: -1;
    border-bottom: 2px solid aqua;
    border-radius: 15px;
    transform: scale(0) translate(50px);
    opacity: 0;
    transform: .5s;
}

nav a:hover span{
    transform: scale(1) translate(0);
    opacity: 1;
    transform: 1s;
}

/* header */

.container-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:30px;
    border: #000 1px solid;
    height: 500px;
    border-radius: 10px;
    width: 500px;
    backdrop-filter: blur(2px);
    box-shadow: 10px 5px 5px 0px  #00000032 ;
    
}
.container-form:hover{

    transform: scale(1.01);
    transition: 0.3s;
}

label{
    margin-left: 20px;
    margin-bottom: 10px;
    
    color: #fff;
}
label:hover{

    color:aqua;
    transform: scale(1.5);
}

input {
    border: aqua 2px solid;
    border-radius: 5px;
}

textarea{
    border: aqua 2px solid;
    border-radius: 5px;
}


.input-label{
    margin: 20px;
}

br{
    margin-bottom: 5px;
}
button{
    margin-top: 40px;
    height: 30px;
    width: 98%;
    color: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: bold;
    background-color: blue;
    border-radius: 10px;
    
}
button:hover{
   background-color: aqua;
   transform: scale(1.05);
   
   transition: all 0.3s ease-in-out;
}