*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}

.container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body{
    margin-top: 40px;
    min-height: 100vh;
    background: url("icons/montagne.jpg") no-repeat;
    background-size: cover;
    min-height: 100vh;
    
}

.container-header .logo{
    width: 40px;
    margin-left: 40px;
}

.container-header .logo:hover{
    transform: scale(1.2);
    transition: .8s ease;
    
}

nav a {
    position: relative;
    font-size: 1.1em;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    padding: 6px 20px;
    margin-right: 30px;
    transition: .8s;

}

nav a:hover {
    color:aqua;
    
}

nav a span {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    z-index: -1;
    border-bottom: 2px solid aqua;
    border-radius: 15px;
    transform: scale(0) translate(50px);
    opacity: 0;
    transform: .5s;
}

nav a:hover span{
    transform: scale(1) translate(0);
    opacity: 1;
    transform: 1s;
}